* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html,body{
    width: 100%;
    height: 100%;
}
#main
{
  
    width: 100%;
    height: 100%;
    background-color: #2D3444;
    /* display: flex; */
    position: absolute;
    display: flex;
}
#nav
{
    position: absolute;
    width: 100%;
    /* height: px; */
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 999;
    /* background-color: black; */
}


#nav>img{
    height: 20px;
}

#nav2 a
{
    text-decoration: none;
    font-family: gilroy;
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 10px;
    color: #fff;

}

#nav3 i
{
    color: #fff;
    text-align: center;
    font-size: 13px;
}
#nav3 a{
    text-decoration: none;
    font-family: gilroy;
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 5px;
    color: #fff;

}

#nav #cart
{
    color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 50%;
    font-size: 14px;
}

#left
{
    width: 60%;
    height:100%;
    background-color: #2C3546;
}

#right
{
    
    width:  40%;
    height: 100%;
    background: linear-gradient(to bottom, #e1564c, #FF2011);
    clip-path: polygon(0 0, 99% 0, 100% 100%, 51% 100%);
}

#main>img{
    position: absolute;
    height: 480px;
    filter: brightness(1.3);
    left: 39%;
    top: 17%;
    transform : rotateY(180deg) rotateZ(30deg)
}

#leftc
{
    width: 25%;
    height: 60%;
    position: absolute;
    /* background-color: #fff; */
    top: 15%;
    left: 13%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#leftc h2{
    color: #fff;
}

#leftc h1{
    font-size: 50px;
    color: #fff;
    
}
#left #stars
{
    margin-top: 10px;
}

#leftc #stars i{
    /* margin-top: 0px; */
    color: rgb(209, 209, 14);
    font-size: 17px;
}

#leftc p{
    margin-top: 10px;
    color: #fff;
    font-family: gilroy;
    margin-bottom: 50px;
}

#leftc button{
    background-color: #FF2011;
    padding:  10px 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
}

#navl
{
    position: absolute;
    width: 30%;
    left: 20px;
    /* height: 70px; */
    /* background-color: black;  */
    bottom: 3%;  
    color: #fff;
    display: flex;  
    justify-content: space-between;   
    align-items: center;  
}

#navl #profile
{
    
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
   
}

#navl #profile img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
#tags i
{
    margin-left: 20px;
    font-size: 15px;
}

#rightwala
{
    position: absolute;
    width: 200px;
    /* height: 110px; */
    /* background-color: black; */
    top: 85%;
    right: 1%;
    display: flex;
    align-items: center;
}

#rightwala i{
    position: absolute;
    color: white;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}

#rightwala #div
{
    margin-left: 45px;
    color: white;
}

.loader
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2C3546;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img{
    position: absolute;
    height: 200px;

}





